/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Sans-Serif;
    font-size: 80%;
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

/* HEADER */
header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    background-color: black;
}

.header-button {
    padding: .3rem .5rem;
    margin: .5rem .5rem 0 0;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.3);
}

/* MAIN */
main {
    width: 100%;
    height: calc(100vh - 170px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: auto;
    background-color: black;
}

.partecipant {
    position: relative;
    margin: .2rem;
}

.label {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.3);
    padding: .5rem .3rem;
    position: absolute;
    bottom: 0px;
    left: 0;
}


/* FOOTER */
/* footer main structure */
footer {
    width: 100%;
    height: 90px;
    display: flex;
    background-color: #222222;
    justify-content: space-between;
}

.buttons-c {
    /* width: 35%; */
    display: flex;
    justify-content: space-between;
}

.buttons-l, .buttons-r {
    display: flex;
    padding-left: 1rem;
}

.buttons-r {
    justify-content: flex-end;
    align-items: center;
}

/* footer buttons */
.button {
    display: flex;
    align-items: center;
}

.main-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-button > i {
    font-size: 1.7rem;
    margin-bottom: .5rem;
}

.angle-up {
    margin: 0 1rem;
}

#share {
    margin-right: 0;
}

.buttons-c .button {
    margin: 0 1rem;
}

.main-button.share i {
    color: #4bc802;
}

.buttons-r a {
    font-weight: bold;
    color: red;
    padding: 0 1rem;
    line-height: 90px;
    background-color: rgba(255, 255, 255, 0.3);
}